<ion-header>
  <ion-toolbar>
    <ion-title>
      Quicktrade
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-input placeholder="Escribir aquí">Nombre: &nbsp;</ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Escribir aquí">Descripción:</ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select>
        <ion-select-option value="Tecnología">Tecnología</ion-select-option>
        <ion-select-option value="Hogar">Hogar</ion-select-option>
        <ion-select-option value="Inmobilidaria">Inmobiliaria</ion-select-option>
        <ion-select-option value="Motor">Motor</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
</ion-content>