<ion-header>
  <ion-toolbar>
    <ion-title>detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="producto.categoria == 'hogar'">
    <ion-text>{{producto.nombre}}</ion-text>
    <p></p>
    <ion-text>{{producto.descripcion}}</ion-text>
    <p></p>
    <ion-text>{{producto.precio}}</ion-text>
  </div>

  <div *ngIf="producto.categoria == 'tecnologia'">
    <ion-text>{{producto.nombre}}</ion-text>
    <p></p>
    <ion-text>{{producto.descripcion}}</ion-text>
    <p></p>
    <ion-text>{{producto.estado}}</ion-text>
    <p></p>
    <ion-text>{{producto.precio}}</ion-text>
  </div>

  <div *ngIf="producto.categoria == 'inmobiliaria'">
    <ion-text>{{producto.nombre}}</ion-text>
    <p></p>
    <ion-text>{{producto.descripcion}}</ion-text>
    <p></p>
    <ion-text>{{producto.metros}}</ion-text>
    <p></p>
    <ion-text>{{producto.numhab}}</ion-text>
    <p></p>
    <ion-text>{{producto.numba}}</ion-text>
    <p></p>
    <ion-text>{{producto.localidad}}</ion-text>
    <p></p>
    <ion-text>{{producto.precio}}</ion-text>
  </div>

  <div *ngIf="producto.categoria == 'inmobiliaria'">
    <ion-text>{{producto.nombre}}</ion-text>
    <p></p>
    <ion-text>{{producto.descripcion}}</ion-text>
    <p></p>
    <ion-text>{{producto.tipov}}</ion-text>
    <p></p>
    <ion-text>{{producto.km}}</ion-text>
    <p></p>
    <ion-text>{{producto.precio}}</ion-text>
  </div>
</ion-content>